In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from datetime import date, timedelta
from tqdm import tqdm
from random import randint

In [2]:
dataframe_time = pd.read_csv('./data_20221229_timeseries.csv')

In [3]:
dataframe_time.columns

Index(['subject_id', 'stay_id', 'to_date', 'Platelets x1000', 'WBC x1000',
       'Hgb', 'Albumin', 'Total Protein', 'Total Bilirubin', 'PO2', 'PaCO2',
       'Glucose', 'BUN', 'pH', 'Sodium', 'Potassium', 'Magnesium', 'Calcium',
       'Chloride', 'creatinine', 'HCO3', 'Phosphate', 'Alkaline Phos.',
       'AST (SGOT)', 'ALT (SGPT)', 'PT-INR', 'SaO2', 'Heart Rate', 'sbp',
       'dbp', 'mbp', 'sbp_ni', 'dbp_ni', 'mbp_ni', 'Compliance', 'FiO2',
       'Minute Ventilation', 'Mean Airway Pressure', 'Peak Airway Pressure',
       'PEEP', 'Plateau', 'Tidal Volume', 'Respiratory Rate'],
      dtype='object')

In [13]:
select_id = dataframe_time['stay_id'][randint(0, len(dataframe_time['stay_id'].unique()))]
stay_sample = dataframe_time[dataframe_time['stay_id'] == select_id]
stay_sample.sort_values(axis=0, by = 'to_date')

,subject_id,stay_id,to_date,Platelets x1000,WBC x1000,Hgb,Albumin,Total Protein,Total Bilirubin,PO2,...,mbp_ni,Compliance,FiO2,Minute Ventilation,Mean Airway Pressure,Peak Airway Pressure,PEEP,Plateau,Tidal Volume,Respiratory Rate
3923,10562117,30748168,2186-07-09,243.0,12.0,33.4,NaN,NaN,NaN,NaN,...,85.320000,NaN,33.333333,8.164286,7.2,12.0,5.0,12.2,344.666667,20.562500
3924,10562117,30748168,2186-07-10,194.0,8.7,33.2,NaN,NaN,NaN,NaN,...,96.274194,84.8,36.666667,8.250000,7.0,11.0,5.0,NaN,367.000000,18.953846
3925,10562117,30748168,2186-07-11,217.0,7.9,33.2,NaN,NaN,NaN,NaN,...,90.261538,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.242424
3926,10562117,30748168,2186-07-12,216.0,6.4,33.0,NaN,NaN,NaN,NaN,...,99.266667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.311111
3927,10562117,30748168,2186-07-13,225.0,5.9,32.0,NaN,NaN,NaN,36.0,...,89.348837,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.395349
3928,10562117,30748168,2186-07-14,252.0,6.0,31.8,NaN,NaN,NaN,NaN,...,91.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.333333
3929,10562117,30748168,2186-07-15,239.0,5.9,31.1,NaN,NaN,NaN,NaN,...,86.625000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.000000
3930,10562117,30748168,2186-07-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,90.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.400000
3931,10562117,30748168,2186-07-17,218.0,5.7,31.1,NaN,NaN,NaN,NaN,...,90.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.153846
3932,10562117,30748168,2186-07-18,229.0,5.2,31.1,NaN,NaN,NaN,NaN,...,92.562500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.000000
3933,10562117,30748168,2186-07-19,241.0,5.2,31.0,NaN,NaN,NaN,NaN,...,91.461538,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.933333
3934,10562117,30748168,2186-07-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,82.250000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.066667

In [5]:
len(dataframe_time['stay_id'].unique())

5165

In [5]:
cotineous = True
not_cotineous_list = []
for stay_id in tqdm(dataframe_time['stay_id'].unique()):
    stay = dataframe_time[dataframe_time['stay_id'] == stay_id]['to_date']
    stay = stay.sort_values(axis = 0)
    stay = stay.reset_index().drop(columns = ['index'])
    for i in range(1, len(stay)):
        delta = pd.to_datetime(stay['to_date'][i]) - pd.to_datetime(stay['to_date'][i - 1])
        if delta != timedelta(days=1):
            not_cotineous_list.append(stay_id)
            cotineous = False
            break

100%|██████████| 2473/2473 [00:05<00:00, 444.05it/s]

In [6]:
len(not_cotineous_list)

110

In [7]:
dataframe_time[dataframe_time['stay_id'] == not_cotineous_list[randint(0, len(not_cotineous_list))]].sort_values(axis=0, by = 'to_date')

,subject_id,stay_id,to_date,Platelets x1000,WBC x1000,Hgb,Albumin,Total Protein,Total Bilirubin,PO2,...,mbp_ni,Compliance,FiO2,Minute Ventilation,Mean Airway Pressure,Peak Airway Pressure,PEEP,Plateau,Tidal Volume,Respiratory Rate
32530,19152929,33042587,2186-02-07,177.0,15.8,33.6,3.2,NaN,0.6,213.0,...,75.095238,NaN,52.500000,11.978571,16.125000,34.625000,9.250000,22.714286,484.900000,21.558824
32531,19152929,33042587,2186-02-08,131.0,10.9,35.7,NaN,NaN,NaN,182.0,...,NaN,NaN,50.000000,11.366667,9.571429,27.285714,6.272727,20.000000,492.642857,19.969697
32532,19152929,33042587,2186-02-09,169.0,7.8,34.5,NaN,NaN,NaN,255.0,...,NaN,NaN,40.000000,11.415789,8.666667,23.000000,5.000000,16.000000,407.500000,22.741935
32533,19152929,33042587,2186-02-10,174.0,9.2,34.8,NaN,NaN,NaN,153.0,...,115.000000,NaN,40.000000,11.480000,9.000000,NaN,5.500000,NaN,371.400000,26.275862
32534,19152929,33042587,2186-02-11,165.0,7.7,35.3,NaN,NaN,NaN,NaN,...,87.250000,NaN,40.000000,11.395238,8.428571,NaN,5.000000,NaN,441.285714,21.161290
32535,19152929,33042587,2186-02-12,163.0,5.6,35.0,NaN,NaN,NaN,95.0,...,98.058824,NaN,40.000000,10.735556,7.666667,NaN,5.000000,NaN,480.000000,17.448276
32536,19152929,33042587,2186-02-13,185.0,7.0,34.8,NaN,NaN,NaN,78.0,...,91.466667,NaN,40.000000,10.799048,6.857143,NaN,5.142857,NaN,408.000000,22.031250
32537,19152929,33042587,2186-02-14,212.0,7.4,35.0,NaN,NaN,NaN,118.0,...,100.000000,NaN,50.000000,10.566667,10.200000,24.666667,5.750000,17.666667,460.100000,25.620000
32538,19152929,33042587,2186-02-15,227.0,9.5,35.2,NaN,NaN,NaN,106.0,...,85.687500,NaN,48.571429,9.577778,7.333333,26.000000,3.333333,20.000000,446.600000,21.580645
32539,19152929,33042587,2186-02-16,208.0,9.4,35.6,NaN,NaN,NaN,NaN,...,90.454545,NaN,35.000000,NaN,NaN,NaN,NaN,NaN,NaN,20.090909
32540,19152929,33042587,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN